# DATABASE_URL is used by repository and web 
export DATABASE_URL='postgres://indie:indie@localhost:5431/indie?sslmode=disable'

# The comma separated list of admin email who can log in with a magic link at /admin
export ADMIN_USER_EMAILS=

# https://resend.com API key (required for magic link login)
export AUTH_RESEND_KEY=

# Strong random secret for Auth.js
export AUTH_SECRET=

# https://geocodify.com API key for geocoding lookups
export GEOCODIFY_API_KEY=